/* .product {

} */


.imgmodify {
    width: 175px;
    height: 288px;
    margin-top: 11px;
    box-shadow: 1px 1px 2px 1px #eee;
}

.btnaction {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

#update, #delete {
    width: 14%;
    border: none;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

#update:hover, #delete:hover {
    opacity: 0.7;
}